
html {
    scroll-behavior: smooth;
  }
.large-heading{
    font-size: 60px;
    font-weight: 600;
}
.main-heading{
    font-weight: 600;
    font-size: 50px;
}

.sub-main-heading{
    font-size: 45px;
    font-weight: 600;
}
.small-heading{
    font-size: 35px;
    font-weight: 400;
}
.green-text{
    color: green;
}
.normal-text{
    font-size: large;
    font-weight: 400;
}
.smaller-heading{
    font-size: 24px;
    font-weight: bold;
}
.bigger-text{
    font-size: 22px;
}
.center-text{
    text-align: center;
}
.margin-top{
    margin-top: 50px;
}

.big-line-height{
    line-height: 1.4;
}
.soft-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.factors-box{
    background-image: linear-gradient(43deg, #ffffff6e 0%, #ffffff9d 46%, #ffffff3b 100%);
    padding-top: 30px;

    margin: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

/* header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.212));
} */
.color-white{
    color: #fff;
}
/* index page */
.bg img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(.4);
 }
  
  
  .banner-section {
    position: absolute;
    top: 20%;
    color: #fff;
    text-align: center;
    margin: auto;
    margin: 100px;
  }
.banner-heading{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 20px;
    line-height: 1em;
}
.banner-sub-heading{
    color: #fff;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-transform: capitalize;

}

@media screen and (max-width: 700px) {
    .bg{
        margin-top: 0px;
    }
    .banner-section{
        top: 0;
        margin: 50px;
    }
    .banner-sub-heading{
        font-size: 2rem;
    }
    }

/* product page */
.specification-block{
    padding: 10px 15px;
    border:  10px white solid;
    border-radius: 15px;
    justify-content: baseline;
    min-height: 100px;
    transition: all  0.5s ease-in;  
}
.specification-block h3{
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: 400;
}
.specification-block :hover{
    font-weight: 600;
}
.white-text{
    color: white;
}

/* solutions page */

.feature-row{
    display: flex;
    flex-direction: row;
}


.feature-row__item{
  flex: 1;
  padding: 50px;
}
.feature-row__text{
    padding: 80px 50px;

}
@media screen and (max-width: 700px) {
    
    .feature-row{
        flex-direction: column;
    }
    }

/* business solutions */

.icon-box{
   margin: 15px;
   border: solid rgba(56, 122, 12, 0.568) 4.5px;
   border-radius: 15px;
   padding: 20px 10px 10px;
   min-height: 180px;
   margin-top: 35px;
   
}
.icon-box h4{
    margin-top: 15px;
    margin-bottom: 0px;
}
.icon-box p{
    font-weight: 400;
    font-size: large;
}
/* breeze */

.hide{
opacity: 0;
    transition: all ease 0.5s;
}
.show-hidden :hover +.hide{
    display: block;
    opacity: 1;
    
}
.link{
    color: green;
}
.link :hover{
    color: rgb(11, 31, 15);
    font-weight: 400;
}
